html {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
}

/* Header */

header {
  position: fixed;
  z-index: 10;
  top: 0;
  margin: 0 auto;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
}

#logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 24px;
}

#logo img {
  height: 48px;
}

header span {
  color: darkgray;
  font-size: 1.33rem;
}

#colmar {
  font-weight: bold;
  color: rgb(64, 64, 64);
}

.desktop {
  padding-right: 24px;
}

.desktop a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 8px;
  color: rgb(64, 64, 64);

}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {

  .desktop {
    display: none;
  }
  .mobile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  #logo {
    display: none;
  }

  .mobile img {
    height: 32px;
  }
}

/* Learn Something New Everyday */

.learncontainer {
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 5;
  background-color: rgb(204, 204, 204);
  margin-top: 64px;
  display: flex;
  padding: 32px 24px;
}

.imaging {
  display: flex;
  width: 60%;
  margin-right: 40px;
}

.imagebox img {
  max-width: 100%;
  height: auto;
}

.learnbox {
  color: rgb(64,64,64);
  margin-top: 3rem;
  line-height: 1.2;
  width: 30%;
  margin-right: 32px;
}

.learnbox h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 32px;
  width: 90%;
}

.learnbox p {
  font-size: 1.2rem;
  margin-bottom: 32px;
  width: 90%;
}

.startbutton {
  display: flex;
  justify-content: flex-start;
}

.learnbox span {
  background-color: rgb(72,72,72);
  padding: 8px 0px;
  display: flex;
  justify-content: center;
  width: 85%;
}

.learnbox span a {
  color: white;
  font-weight: 300;
  font-size: 1rem;
}

.mobilegraybox {
  display: none;
}

@media only screen and (max-width: 480px) {

  .learncontainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .mobilegraybox {
    width: 100%;
    height: 180px;
    background-color: rgb(128, 128, 128);
    display: flex;
  }
  .imagebox {
    display: none;
  }
.learnbox {
  color: rgb(64,64,64);
  line-height: 1.4;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  }

  .learnbox h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem 1rem;
    width: auto;
  }

  .learnbox p {
    font-size: 1.2rem;
    margin: 0 1rem 1.5rem 1rem;
    width: auto;
  }

  .startbutton {
    display: flex;
    justify-content: space-around;
  }

  .learnbox span {
    background-color: rgb(128,128,128);
    padding: 8px 0px;
    margin: 0 1rem 2rem 1rem;
    width: 100%;
  }

  .learnbox span a {
    color: white;
    font-weight: 400;
    font-size: 1rem;
  }

}


/* Practicing */


/* Start Learning */


/* Thesis Exhibit */




/* Footer */
